@import url('https://fonts.googleapis.com/css2?family=Inter');

.vfrc-chat{
  font-family: 'Inter'!important;
}

:host{
  --fonts-default: 'Inter';
}

.vfrc-assistant-info--title {
      font-weight: 700;
}

.jsli366 {
  display: none!important;
}
.vfrc-button {
  margin-bottom: 10px!important;
}

.c-kbCYVp-lbvmyx-withWatermark-true {
    padding-bottom: 12px!important;
}
.jsli366 {
  display: none!important;
}