@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
 font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;       background: rgb(254, 234, 222);;

}
:host{
  --fonts-default: 'Inter', sans-serif;
}

h1 {
 font-family: "Inter", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}


#flat-chat {
        /* width: 100vw; */
        margin: auto;
        width: 600px;
      }
      #confetti-canvas {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
      }
     #vfrc-footer--watermark .vfrc-footer--watermark  {
         display: none!important;
      }
      #voiceflow-chat-frame {
         width:  600px;
         margin: 0 auto 50px;
         height: 600px;
      }

      .voiceflow-chat {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.voiceflow-chat::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* other styling */
.voiceflow-chat {
  border: solid 5px black;
  border-radius: 5px;
  height: 300px;
  padding: 10px;
  width: 200px;
}



      .heading {
         width: 1090px; margin: 40px auto 0;text-align: center;
      }

      @media (max-width:1000px) {
         #voiceflow-chat-frame {
         width:  100%;
         margin: 0 auto 40px;
      }
      .heading {
         width: 100%; margin: 40px auto 0;text-align: center;
      }
      h1 {
  font-size: 30px;
}
      }